/* 1 */
@font-face {
    font-family: ClashDisplay;
    src: url(ClashDisplay-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url(Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Bold.ttf);
    font-weight: 700;
}


body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

button {
    background-color: unset;
    border: unset;
    padding: unset;
    text-align: unset;
    cursor: pointer;
}

a {
    text-decoration: none;

}



.f600-20-ClashDisplay {      /* 1 */
    font: 600 20px ClashDisplay;
}

.f400-12-Inter {     /* 1 */
    font: 400 12px Inter;
}

.f400-14-Inter {
    font: 400 14px Inter;
}

.f400-16-Inter {
    font: 400 16px Inter;
}

.f400-18-Inter {
    font: 400 18px Inter;
}

.f400-20-Inter {
    font: 400 20px Inter;
}

.f500-12-Inter {     /* 1 */
    font: 500 12px Inter;
}

.f500-14-Inter {
    font: 500 14px Inter;
}

.f500-16-Inter {
    font: 500 16px Inter;
}

.f500-18-Inter {     /* 1 */
    font: 500 18px Inter;
}

.f500-36-Inter {     /* 1 */
    font: 500 36px Inter;
}

.f600-12-Inter {     /* 1 */
    font: 600 12px Inter;
}

.f600-14-Inter {     /* 1 */
    font: 600 14px Inter;
}

.f600-16-Inter {
    font: 600 16px Inter;
}

.f600-18-Inter {     /* 11 */
    font: 600 18px Inter;
}

.f600-20-Inter {     /* 1 */
    font: 600 20px Inter;
}

.f600-24-Inter {     /* 1 */
    font: 600 24px Inter;
}

.f600-24-Inter {     /* 1 */
    font: 600 24px Inter;
}

.f600-30-Inter {     /* 11 */
    font: 600 30px Inter;
}

.f600-36-Inter {
    font: 600 36px Inter;
}

.f600-48-Inter {     /* 1 */
    font: 600 48px Inter;
}

.f600-60-Inter {     /* 1 */
    font: 600 60px Inter;
}

.f600-72-Inter {     /* 1 */
    font: 600 72px Inter;
}

.f700-56-Inter {     /* 1 */
    font: 700 56px Inter;
}


.c-026AA2 {     /* 1 */
    color: #026AA2;
}

.c-067647 {     /* 1 */
    color: #067647;
}

.c-101828, .c-101828 a {
    color: #101828;
}

.c-182230 {     /* 1 */
    color: #182230;
}

.c-1E1E1E {     /* 1 */
    color: #1E1E1E;
}

.c-2746B4 {     /* 1 */
    color: #2746B4;
}


.c-344054 {     /* 1 */
    color: #344054;
}

.c-3538CD {     /* 1 */
    color: #3538CD;
}

.c-475467 {
    color: #475467;
}

.c-667085 {     /* 1 */
    color: #667085;
}

.c-6941C6 {     /* 1 */
    color: #6941C6;
}


.c-7B64FF {     /* 1 */
    color: #7B64FF;
}

.c-AABDFF {     /* 11 */
    color: #AABDFF;
}

.c-C11574 {     /* 1 */
    color: #C11574;
}

.c-CCD4EF {     /* 1 */
    color: #CCD4EF;
}

.c-F04438 {     /* 1 */
    color: #F04438;
}

.c-fff, a.c-fff {
    color: #fff;
}


.cb-32D583 {     /* 1 */
    background-color: #32D583;
}

.cb-7B64FF {
    background-color: #7B64FF;
}

.cb-ECFDF3 {     /* 1 */
    background-color: #ECFDF3;
}

.cb-EDF7FF {     /* 1 */
    background-color: #ECFDF3;
}

.cb-EEF4FF {     /* 1 */
    background-color: #EEF4FF;
}

.cb-F0F9FF {     /* 1 */
    background-color: #F0F9FF;
}

.cb-F2F4F7 {     /* 1 */
    background-color: #F2F4F7;
}

.cb-F9F5FF {
    background-color: #F9F5FF;
}


.cb-F9FAFB {
    background-color: #F9FAFB;
}

.cb-FDF2FA {
    background-color: #FDF2FA;
}

.cb-FFEDEC {     /* 1 */
    background-color: #FFEDEC;
}

.cb-fff {
    background-color: #fff;
}

.wh-16-16 {     /* 1 */
    width: 16px;
    height: 16px;
}

.wh-20-20 {     /* 11 */
    width: 20px;
    /* height: 20px; */
}

.wh-24-24 {
    width: 24px;
    height: 24px;
}


.flex-center {
    display: flex;
    align-items: center;
}

.w-90p1200mw {
    width: 90%;
    max-width: 1200px;
}

.head1 {
    margin: 20px auto;
}

.head1 > * {
    flex-grow: 1;
}

.head1 nav {
    flex-grow: 5;
}

.hdr-btn1 {
    flex-grow: 3;
}

.logo > span:first-child {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 999px;
    margin-right: -30px;
}

.head1 nav a img {
    margin-left: 5px;
}

.head1 nav a:not(:first-child) {
    margin-left: 20px;
}

.head1 > a span {
    margin: 0 10px;
}

.hdr-btn2 {
    padding: 10px 16px;
    border-radius: 8px;
    flex-grow: 0;
}

.sec1-1 {
    padding: 60px 0;
    text-align: center;
    background-color: #7B64FF;
    background-image: radial-gradient(circle, transparent 10%, #7B64FF 90%),
     linear-gradient(#CCD4EF 1px, transparent 1px),
     linear-gradient(90deg, #CCD4EF 1px, transparent 1px);
    background-size: 100% 100%, 80px 80px, 80px 80px;
    /* background-position: 0 0, 0 0, 0 0; */
}

.s1-1-dv1 {
    width: 750px;
    margin: 0 auto;
}

.s1-1-dv2 {
    margin: 25px 0 40px;
}

.s1-1-dv3 span {
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 8px;
}

.s1-1-dv3 span:not(:first-child) {
    margin-left: 8px;
}

.sec1-2 {
    padding: 60px 0;
    margin: auto;
    display: flex;
}

.s1-2-dv1 {
    max-width: 30%;
}

.s1-2-dv1 div:first-child {
    margin-bottom: 30px;
}

.s1-2-dv1 div:not(:first-child) {
    margin-top: 20px;
}

.s1-2-dv1 img {
    margin-right: 10px;
    
}

.s1-2-dv2 {
    margin-left: 30px;
    flex-grow: 1;
}

.p1-video1 {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 32px 64px -12px #10182824;
}

.sec1-3 {
    text-align: center;
    padding: 60px 0;
}

.s1-3-dv2 {
    margin: 15px 0 40px;
}

.s1-3-dv3 {
    margin: 0 auto;
    display: flex;
}

.s1-3-dv3 > div {
    flex-grow: 1;
}

.s1-3-dv3 span {
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 12px;
    border: 1px solid #F4EBFF;
    border-radius: 999px;
    background-color: #F4EBFF;
}

.s1-3-dv3-1 {
    margin: 20px 0 15px;
}

.sec1-4 {
    margin: 60px auto;
}

.s1-4-dv2 {
    margin: 20px 0 40px;
}

.s1-4-dv3 {
    display: flex;
}

.s1-4-dv3 > div {
    flex-grow: 1;
    width: 50%;
}

.s1-4-dv3-1 {
    padding: 16px 24px;
    border-left: 2px solid #F2F4F7;
}

.s1-4-dv3-1.active {
    border-left: 2px solid #2746B4;
}

.s1-4-dv3-1 img {
    margin-left: 10px;
}

.s1-4-dv3-1-2 {
    margin: 10px 0 20px;
}

.sec1-5 {
    padding: 60px 0;
    text-align: center;
}

.s1-5-dv2 {
    margin: 10px 0 20px;
}

.s1-5-dv3 {
    width: 750px;
    margin: 0 auto;
}

.s1-5-dv4 {
    width: 1040px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.s1-5-dv4 span {
    padding: 4px;
    border-radius: 12px;
    background-color: #fff;
    display: inline-block;
    margin: 20px;
}

.s1-5-dv4 span img {
    width: 80px;
    height: 80px;

}

.s1-5-btn {
    padding: 14px 18px;
    border-radius: 8px;
}

.sec1-6 {
    margin: 60px auto;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
}

.s1-6-dv1 {
    padding: 64px;
}

.s1-6-dv1-1 img {
    width: 20px;
    height: 20px;
}

.s1-6-dv1-2 {
    margin: 20px 0 30px;
}

.s1-6-dv1-4 {
    margin: 10px 0 30px;
}

.s1-6-dv1-5 button {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #EAECF0;
    display: inline-block;
}

.s1-6-dv1-5 button:not(:first-child) {
    margin-left: 10px;
}

.s1-6-dv1-5 button.active {
    background-color: #2746B4;
}

.s1-6-dv2 {
    min-width: 480px;
}

.p1-video2 {
    width: 100%;
    height: 100%;
    border: 0;
}

.sec1-7 {
    width: 750px;
    padding: 60px 0;
    margin: 0 auto;
}

.s1-7-dv1 {
    text-align: center;
}

.s1-7-dv2 {
    text-align: center;
    margin: 20px 0 50px;
}

.s1-7-dv3 hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #EAECF0;
}

.s1-7-dv3-1-1 img {
    width: 24px;
    height: 24px;
}

.s1-7-dv3-1-1-1 {
    margin-bottom: 10px;
    flex-grow: 1;
}

.s1-7-b1m, .s1-7-dv3-1-2, .s1-7-dv3-1.active .s1-7-b1p {
    display: none;
}

.s1-7-dv3-1.active .s1-7-b1m, .s1-7-dv3-1.active .s1-7-dv3-1-2 {
    display: block;
}

.s1-7-dv3-1-2 {
    padding-right: 50px;
}

.sec1-8 {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    border-radius: 16px;
}

.sec1-8 img {
    width: 120px;
    height: 56px;
}

.s1-8-dv1 {
    margin: 30px 0 10px;
}

.sec1-8 button {
    padding: 12px 18px;
    border-radius: 8px;
    margin-top: 30px;
}

.foot1 {
    margin: 50px auto;
}

.foot1 .logo {
    flex-grow: 1;
}

/* .............    Page2_resourses  ......... */

.page2-resourses {
    position: relative;
}

.page2-main {
    margin: auto;
}

.page2-main .head1 {
    padding: 20px 0;
    margin: unset;
}

.p2-dv1 {
    margin: 50px 0 20px;
}

.p2-dv3 {
    margin: 50px 0 30px;
}

.p2-dv3-1 {
    border-bottom: 1px solid #EAECF0;
    flex-grow: 1;
}

.p2-dv3-1 a {
    font: 600 16px Inter;
    color: #667085;
    padding: 10px 0;
    display: inline-block;
}

.p2-dv3-1 a.active {
    border-bottom: 2px solid #7F56D9;
    color: #7B64FF ;
}

.p2-dv3-1 a:not(:first-child) {
    margin-left: 20px;
}

.p2-dv3 select {
    width: 320px;
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    margin-left: 30px;
}

.p2-dv4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p2-dv4-1 {
    max-width: 30%;
    margin-top: 30px;
    /* flex-grow: 1; */
}

.p2-video1 {
    width: 100%;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 32px 64px -12px #10182824;
}

.p2-dv4-1-2 {
    margin: 20px 0;
}

.p2-dv4-1-b1 {
    width: 100%;
}

.p2-dv4-1-b1 span{
    flex-grow: 1;
}

.p2-dv4-1-4 {
    margin: 20px 0 30px;
}

.p2-dv4-1-5 > :first-child {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.p2-dv5-b1 > :last-child {
    margin-left: 10px;
}

.p2-dv5-1 {
    text-align: center;
    flex-grow: 1;
}

.p2-dv5-1 button {
    min-width: 41px;
    font: 600 14px Inter;
    color: #475467;
    padding: 12px;
}

.p2-dv5-1 button.active {
    color: #182230;
    background-color: #F9FAFB;
    border-radius: 999px;
}

.p2-dv5-1 span {
    margin: 0 10px;
}

.p2-hr1 {
    margin: 40px 0 10px;
    border: 0;
    border-top: 1px solid #EAECF0;
}

.p2-hr2 {
    margin: 60px 0px;
    border: 0;
    border-top: 1px solid #EAECF0;
}

.page2-video {
    width: 100%;
    height: 100%;
    background-color: rgba(16, 10, 10, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.page2-video:not(.active) {
    display: none;
}

.p2-video2 {
    width: 90%;
    max-width: 1200px;
    height: 40%;
    max-height: 600px;
    margin: 280px auto 0;
    display: block;
}

.page2-video button {
    padding: 10px 50px;
    margin: 35px 50px;
    background-color: #fff;
    border-radius: 15px;
    float: right;
    
}


/* .............    Page3_blog  ......... */

.page3-blog {
    margin: auto;
}

.sec3-1 {
    margin: 60px 0;
    text-align: center;
}

.s3-1-dv1-2 {
    margin: 10px 0 25px;
}

.s3-1-dv1-3-1 {
    width: 320px;
    padding: 12px 14px;
    margin: 30px 0 50px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    display: inline-flex;
}

.s3-1-dv1-3-1-i1 {
    margin-left: 12px;
    border: 0;
}

.page3-img1 {
    width: 100%;
    border-radius: 16px;
}

.sec3-2 {
    background-color: #F9FAFB;
    border-radius: 16px;
    padding: 64px;
    margin: 50px 0 100px;
    text-align: center;
}

.s3-2-dv2 {
    margin: 30px 0;
}

.sec3-2 button {
    padding: 12px 18px;
    border-radius: 8px;
}

.s3-2-btn2 {
    margin-left: 12px;
}

/* .............    Page4_blog-inner  ......... */


.sec4-1 {
    margin: 60px 0 40px;
    text-align: center;
}

.s4-1-dv2 {
    margin: 10px 0 20px;
}

.s4-1-dv3 {
    max-width: 750px;
    display: inline-block;
} 

.sec4-2 {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.sec4-2 > img {
    width: 100%;
    margin-bottom: 50px;
}

.s4-2-dv1 {
    width: 80%;
}

.s4-2-dv2 {
    margin: 50px 0 20px;
}

.s4-2-hr1 {
    border: 0;
    border-top: 1px solid #EAECF0;
    margin: 20px 0 30px;
}

.s4-2-dv3 {
    width: 80%;
    margin-top: 20px;
}

.s4-2-hr2 {
    border: 0;
    border-top: 1px solid #EAECF0;
    margin-bottom: 20px;
}

.s4-2-dv4-1 button {
    font: 500 14px Inter;
    padding: 2px 10px;
    border-radius: 999px;
}

.s4-2-dv4-1 button:not(:first-child) {
    margin-left: 10px;
}

.s4-2-dv4-1-b1 {
    border: 1px solid #B9E6FE;
}

.s4-2-dv4-1-b2 {
    border: 1px solid #FCCEEE;
}

.s4-2-dv4-2 {
    margin-left: 30px;
}

.s4-2-dv4-2-b1 {
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.s4-2-dv4-2-b2 {
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.s4-2-dv4-2 button:not(:first-child) {
    margin-left: 10px;
}

.sec4-3 {
    margin-top: 60px;
    padding: 60px 0;
    overflow: hidden;
}

.s4-3-dv1 {
    margin: auto;
}

.s4-3-dv1-1 > div {
    flex-grow: 1;
}

.s4-3-dv1-1 button {
    padding: 12px 18px;
    border-radius: 8px;
}

.s4-3-dv1-2 {
    margin: 20px auto 40px;
}

.s4-2-dv4-1-b3 {
    border: 1px solid #E9D7FE;
}

.s4-2-dv4-1-b4 {
    border: 1px solid #C7D7FE;
}

.s4-2-dv4-1-b5 {
    border: 1px solid #ABEFC6;
}

.s4-3-dv1-3 .p2-dv4-1:not(:first-child) {
    margin-left: 5%;
}

.s4-3-dv1-3 .p2-dv4-1 {
    min-width: 30%;
}

.sec4-4.sec3-2 {
    margin: auto;
}

.s4-3-dv1-4 {
    margin-top: 30px;
}

.s4-3-dv1-4 button {
    padding: 15px;
    border: 1px solid #EAECF0;
    border-radius: 999px;
}

.s4-3-dv1-4 button:first-child {
    margin-right: 30px;
}


/* .............    Page5_Pricing  ......... */

.page5-pricing {
    margin: auto;
}

.p5-dv1 {
    margin: 60px 0 20px;
}

.p5-dv2 {
    margin: 30px 0;
}

.p5-dv3 {
    padding: 6px;
    background-color: #F9FAFB;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    display: inline-block;
}

.p5-dv3 button {
    padding: 8px 12px;
    font: 600 16px Inter;
    color: #344054;
}

.p5-dv3 button.active {
    background-color: #fff;
    border-radius: 6px;
}

.sec5-1 {
    justify-content: space-between;
}

.p5-dv4 {
    width: 30%;
    margin: 20px 0 40px;
    box-shadow: 0px 12px 16px -4px #10182814;
}

.p5-dv4-1 {
    padding: 32px;
    border: 1px solid #EAECF0;
    border-radius: 16px 16px 0 0;
}

.p5-dv4-1-1 span:first-child {
    flex-grow: 1;
}

.p5-dv4-1-1-sp1 {
    padding: 4px 12px;
    background-color: #F9F5FF;
    border: 1px solid #E9D7FE;
    border-radius: 999px;
}

.p5-dv4-1-2 {
    margin: 30px 0;
}

.p5-dv4-1-btn1 {
    width: 100%;
    padding: 12px 18px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #7B64FF;
    text-align: center;
}

.p5-dv4-2 {
    padding: 32px;
    border: 1px solid #EAECF0;
    border-top: 0;
    border-radius: 0 0 16px 16px;
}

.p5-dv4-2-2 {
    margin: 10px 0 30px;
}

.p5-dv4-2-3 {
    margin-top: 20px;
}

.p5-dv4-2-3 span {
    margin-left: 10px;
}

.tbl5-1 {
    width: 100%;
    margin: 40px 0 100px;
    border-collapse: collapse;
}

.tbl5-1 tr:nth-child(even) {
    background-color: #F9FAFB;
}

.tbl5-1 th:first-child {
    text-align: left;
}

.tbl5-1 th {
    font: 600 14px Inter;
    color: #7B64FF;
    padding: 16px 0;
}

.tbl5-1 td {
    font: 400 14px Inter;
    color: #475467;
    padding: 16px 0;
}

.tbl5-1 td:first-child button span {
    font: 500 14px Inter;
    color: #101828;
}

.tbl5-1-img1 {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.tbl5-1 td:not(:first-child) {
    text-align: center;
}

.tbl5-1 hr {
    border: 0;
    border-top: 1px solid #EAECF0;
}

.tbl5-1-img2 {
    width: 24px;
    height: 24px;
}

.tbl5-1 tfoot td {
    padding: 0 8px;
}

.tbl5-1-btn2 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #7F56D9;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
}

/* .............    Page6_Terms and conditions  ......... */


.page6-terms {
    margin: auto;
}

.sec6-1 {
    width: 70%;
    margin: 60px auto 0;
}

.s6-1-dv1 {
    text-align: center;
}

.s6-1-dv1-2 {
    margin: 20px 0 50px;
}

.s6-1-dv2-2 {
    margin: 40px 0 20px;
}

.s6-1-dv2-3 {
    margin: 30px 0 15px;
}

.p6-hr1 {
    border: 0;
    border-top: 1px solid #EAECF0;
    margin: 30px 0 60px;
}


/* .............    Page7_Connect to  ......... */

.page7-connect {
    position: relative;
}

.page7-main {
    margin: auto;
}

.page7-main .head1 {
    padding: 20px 0;
    margin: unset;
}

.p7-dv1 {
    margin: 60px auto;
    text-align: center;
}

.p7-dv2 {
    font: 500 12px Inter;
}

.p7-dv2 {
    text-align: center;
}

.p7-dv2 button {
    font: 500 12px Inter;
    padding: 8px 16px;
    color: #667085;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.p7-dv2 button:not(:first-child){
    margin-left: 10px;
}

.p7-dv2 button.active {
    color: #fff;
    background-color: #7B64FF;
}

.sec7-1 {
    width: 95%;
    margin: 10px auto 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s7-1-dv1 {
    width: 19%;
    padding: 16px;
    margin-top: 20px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.s7-1-dv1-1 {
    width: 80px;
    height: 80px;
    background-color: #EDF7FF;
}

.s7-1-dv1-2 {
    margin: 16px 0 8px;
}

.s7-1-dv1-3 {
    margin: 8px 0 16px;
}

.s7-1-dv1-btn1 {
    width: 100%;
    padding: 4px 18px;
    border-radius: 8px;
}

.s7-1-dv1-btn1:not(.active) {
    display: none;
}

.s7-1-dv1-btn1 span {
    margin-left: 10px;
}

.p7-hr1 {
    border: 0;
    border-top: 1px solid #EAECF0;
    margin: 0;
}

.page7-call {
    width: 100%;
    height: 100%;
    background-color: rgba(109, 109, 109, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.page7-call:not(.active) {
    display: none;
}

.p7c-dv1 {
    width: 80%;
    max-width: 960px;
    margin: 250px auto 0;
    border-radius: 12px;
}

.p7c-dv1-sec1 {
    padding: 24px;
    border-radius: 12px 12px 0 0;
}

.p7c-dv1-s1-btn1 {
    padding: 5px;
    border-radius: 8px;
}

.p7c-dv1-s1-dv1 {
    flex-grow: 1;
    margin-left: 30px;
}

.p7c-dv1-s1-dv1-2 {
    margin-top: 8px;
}

.p7c-dv1-s1-btn2 {
    align-self: baseline;
}

.p7c-dv1-sec2 {
    min-height: 600px;
    padding: 0 24px;
    display: flex;
    border-radius: 0 0 12px 12px;
}

.p7c-dv1-s2-dv1 {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.p7c-dv1-sec2 .p2-dv3-1 {
    padding-top: 6px;
    border-right: 1px solid #EAECF0;
}

.p7c-dv1-s2-dv1-1 {
    padding: 12px;
    margin: 25px 0 15px;
    border-radius: 8px;
}

.p7c-dv1-s2-dv1-1 > img {
    width: 68px;
    /* height: 24px; */
}

.p7c-dv1-s2-dv1-1 > button {
    margin-top: 25px;
}

.p7c-dv1-s2-dv1-2 {
    flex-grow: 1;
}

.p7c-dv1-s2-dv1-2-sp1 {
    padding: 4px 8px;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}

.p7c-dv1-s2-dv1-btn1 {
    width: 100%;
    padding: 4px 18px;
    border-radius: 8px;
    justify-content: center;
}

.p7c-dv1-s2-dv1-btn1 span {
    margin-left: 10px;
}

.p7c-dv1-s2-dv1-btn2 {
    width: 100%;
    padding: 6px 18px;
    border-radius: 8px;
    text-align: center;
}


/* .............    Page8_Contact us  ......... */

.page8-contact {
    margin: auto;
}

.sec8-1 {
    padding: 0 48px 0;
    margin: 60px 0;
    display: flex;
}

.s8-1-dv1 {
    padding: 48px 0;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.s8-1-dv1-1 {
    margin: 20px 0 30px;
}

.s8-1-dv1-2 {
    display: flex;
    margin-top: 30px;
}

.s8-1-dv1-2-1 {
    margin-left: 20px;
}

.s8-1-dv1-2-1-1 {
    margin: 10px 0 20px;
}

.s8-1-dv1-3 {
    flex-grow: 1;
    align-content: end;
}

.s8-1-dv1-3 img:not(:first-child) {
    margin-left: 30px;
}

.s8-dv2-3 {
    display: flex;
    justify-content: space-between;
}

.s8-dv2-3 > div {
    width: 48%;
}

.s8-dv2 div + input, .s8-dv2-3-2-1, .s8-dv2-sl1, .s8-dv2-txa1 {
    width: 100%;
    padding: 10px 14px;
    margin: 10px 0 20px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.s8-dv2-2 {
    margin: 30px 0;
}

.s8-dv2-3-2-1 select {
    background-color: unset;
    border-radius: 8px;
    border: 0;
}

.s8-dv2-3-2-1 input {
    width: 80%;
    padding-left: 10px;
    border: 0;
}

.s8-dv2-lb1 a {
    color: #475467;
    text-decoration: underline;
}

.s8-dv2-btn1 {
    width: 100%;
    padding: 12px 18px;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}


/* .............    Page9_Api Builder  ......... */


.sec9-1 {
    padding: 60px 0;
    text-align: center;
    background-image: url("pic_4.png");
    background-size: cover;
}

.s9-1-dv2 {
    width: 750px;
    margin: 20px auto 40px;
}

.s9-1-dv3 {
    justify-content: center;
}

.s9-1-dv3 button {
    padding: 16px 22px;
    font: 600 18px Inter;
    border-radius: 8px;
}

.s9-1-dv3-btn1 {
    border: 1px solid #D0D5DD;
}

.s9-1-dv3-btn1 span {
    margin-left: 10px;
}

.s9-1-dv3-btn2 {
    margin-left: 10px;
    border: 1px solid #7B64FF;
}

.p9-div1 {
    width: 950px;
    height: 400px;
    margin: auto;
    background-color: #000;
    border-radius: 32px 32px 0 0;
}

.p9-div2 {
    overflow: hidden;
}

.p9-div2 > section {
    margin-top: 40px;
}

.p9-div2 .p5-dv4-2-3 {
    margin-left: 10px;
}

.sec9-2 {
    margin: 60px 0;
    text-align: center;
}

.s9-2-dv2 {
    margin: 20px 0 30px;
}

.s9-2-dv3 {
    width: 750px;
    margin: auto;
}

.sec9-3 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.s9-3-dv1 {
    min-width: 50%;
    padding-right: 50px;
}

.s9-3-dv1-sp1 {
    padding: 12px;
    border-radius: 999px;
    background-color: #EBF2FF;
    display: inline-block;
}

.s9-3-dv1-1 {
    margin: 20px 0 30px;
}

.s9-3-dv1-2 {
    margin-bottom: 30px;
}

.s9-3-dv2 {
    min-width: 220%;
    height: 500px;
    background-color: #00000033;
    border-radius: 10px;
}

.s9-4-dv1 {
    min-width: 50%;
    height: 500px;
    background-color: #00000033;
    border-radius: 0 10px 10px 0;
}

.s9-4-dv2 {
    width: 50%;
    max-width: 600px;
    padding: 0 50px;
}


