body {
    margin: 0;
}

.dv1-1, .dv1-2-1  {
    display: flex;
}

.dv1-1 div, .dv1-2-1 div {
    width: 200px;
    padding: 6px;
    flex-shrink: 0;
}

.dv1 {
    /* width: calc(100vw - 48px); */
    margin: 5px 24px;


    display: none;
}

.dv1-1 {
    /* width: calc(100vw - 48px); */
    background-color: beige;
}

.dv1-2 {
    /* width: calc(100vw - 48px); */
    height: 250px;
}



.dvx {
    width: 100%;
    overflow: auto;


    display: none;
}

.tb1 {
    width: 100%;
    overflow: auto;
}

th, td {
    min-width: 200px;
    padding: 6px;
}



/* *************************************************************** */



.dv0 {
    border: 1px solid red;
    border-radius: 10px;
    display: inline-flex;
    overflow: hidden;

    margin: 50px;
}

.dv0 button {
    padding: 10px;
    background-color: #fff;
    border: 0;
}

.dv0 button:last-child {
    border-left: 1px solid red;
}

.dv0 button:not(.active) {
    display: none;
}

.dv0 button:first-child:not(.active) + button {
    border-left: 0;
}












