.react-flow__node-EVENT {
  padding: 3px 6px 3px 3px;
  border-radius: 5px;
  background: rgba(69, 194, 137, 0.36);
  color: #000;
  border: 1px solid #000;

  &.selected {
    box-shadow: 0 0 0 0.5px #1a192b;
  }

  .label {
    font-size: 10px;
    font-weight: 500;
    color: #000;
    display: flex;

    .icon {
      font-size: 12px;
    }

    .text {
      margin-left: 3px;
      margin-top: 1px;
    }
  }
}