@font-face {
    font-family: ClashDisplay;
    src: url(/ClashDisplay-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url(/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Roboto;
    src: url(/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
    font-weight: 500;
}


html, body, #root {
    height: 100%;
}

body {
    margin: unset;
}

body * {
    font-family: Inter;
    box-sizing: border-box;
}

button {
    font-family: Inter;
    background-color: unset;
    border: unset;
    padding: unset;
    text-align: unset;
    cursor: pointer;
}


.maindiv {
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar {
    width: 80px;
    min-width: 80px;
    padding: 32px 0 16px;
    border-right: 1px solid #EAECF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flex-center {
    display: flex;
    align-items: center;
}

.sidebar svg {
    width: 28px;
    height: 28px;
    color: #667085;
}

.sidebar-arrow {
    position: absolute;
    right: -14px;
    top: 60px;
}

.sidebar-arrow svg {
    background-color: #F6F6F9;
    border-radius: 999px;
}

.sidebar.extended {
    width: 280px;
    min-width: 280px;
    padding-left: 16px;
    align-items: unset;
}

.sidebar span {
    font-weight: 600;
    font-size: 16px;
    margin-left: 12px;
    color: #344054;
    flex-grow: 1;
}

.sidebar .logo img {
    width: 40px;
    height: 34px;
}

.sidebar .logo span {
    font: 600 27px ClashDisplay;
    color: #000;
}

.sidebar ul, .sidesection ul {
    list-style: none;
    margin: unset;
    padding: unset;
}

.sidebar .ul-buttons {
    height: 100%;
    overflow-y: auto;
    margin: 20px 0;
    flex-grow: 1;
}

.sidebar .ul-buttons li {
    margin-top: 16px;
}

.sidebar .ul-buttons ul li {
    margin-left: 38px;
}

.sidebar hr {
    width: 80%;
    margin: 20px 0 15px;
    border-color: #EAECF0;
}

.sidebar.extended hr {
    width: unset;
    margin-right: 16px;
}

.sidebar-photo svg {
    width: 48px;
    height: 48px;
}

.sidebar.extended .sidebar-photo svg {
    width: 40px;
    height: 40px;
    margin-left: -6px;
}

.sidebar-photo div span:first-child {
    font-size: 14px;
}

.sidebar-photo div span:last-child {
    font-size: 14px;
    font-weight: 400;
}

.sidebar:not(.extended) span, .sidebar:not(.extended) .arrow, .sidebar:not(.extended) ul ul,
.sidebar:not(.extended) .logout svg {
    display: none;
}


.sidebar.extended .ul-buttons, .sidebar.extended .logout {
    padding-right: 16px;
}


/*
NEW
********************************************************************************************
 */
.sidebar a {
    text-decoration: unset;
    webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebar a:not(.logo):hover {
    background-color: rgb(178, 178, 178);
    /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.ul-buttons ul a {
    height: 26px;
    display: flex;
    align-items: center;
}

.ul-buttons li:not(.dropdown) ul {
    /* display: none; */
}


/*
 ********************************************************************************************
OLD
 */
hr {
    width: 100%;
}

.ul-buttons .arrow:not(.active) {
    display: none;
}


/* ?? */
.ul-buttons button, .sidebar-foter button {
    /* height: 48px;
    padding: 4px 8px; */
    display: flex;
    /* width: 100%; */
    align-items: center;
    margin-top: 16px;
}


.ul-buttons li.active1 {
    background-color: #F9FAFB;
    border-radius: 6px;
}

.sidebar:not(.extended) .sidebar-icon {
    margin-left: 10px;
}

.ul-buttons li.active2 {
    background-color: #EAECF0;
}


.ul-buttons .dropdown > a svg {
    color: #7F56D9;
}

.ul-buttons .dropdown > a span {
    padding-left: 3px;
    color: #7F56D9;
}

.sidebar-photo + span {
    font-size: 14px;
}


/* SIDEBAR-END *******************************************************************************
*********************************************************************************************** */


.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

/* .main > div {
    padding: 0 20px;
} */

.main-header {
    margin: 20px 24px;
}

.mh-icon {
    width: 20px;
    height: 20px;
}

.mh-arrow {
    width: 10px;
    height: 10px;
    margin: 0 16px;
}

.mh-text {
    font-size: 14px;
    font-weight: 500;
    color: #475467;
}

.mh-div1 {
    flex-grow: 1;
}

.mh-div1 a svg {
    color: #667085;
}

.mh-div1 > svg {
    width: 16px;
    height: 16px;
    color: #D0D5DD;
    margin: 0 10px;
}

.mh-div1 span:last-child {
    padding: 4px 8px;
    font-weight: 600;
    color: #344054;
    background-color: #F9FAFB;
    border-radius: 6px;
}

.mh-div2 {

}

.mh-div2 svg {
    width: 24px;
    height: 24px;
    color: #344054;
    margin-right: 5px;
}

.mh-div2 button:not(:first-child) {
    margin-left: 20px;
}

.mh-div2 span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
    color: #344054;
}

.mh-div2 button:not(:last-child) span {
    margin-right: 20px;
}

.user-info {
    margin-top: 16px;
    margin-bottom: 16px;
}

.user-info div:first-child {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
}

.user-info div:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}

.m1-div1 {
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.m1-div1-1 {
    display: flex;
}

.m1-div1-1:not(:first-child) {
    margin-left: 80px;
}

.m1-div1-1 div:first-child {
    width: 32px;
    height: 32px;
    border: 0.5px solid lightgray;
    border-radius: 999px;
    background-color: lightgray;
    margin-right: 16px;
}

.m1-div1-1 a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #7F56D9;
}

.m1-div1-1 span {
    font-size: 14px;
    font-weight: 400;
    color: #475467;
}

.m1-div2 {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

.m1-div2-1 {
    display: flex;
}

.m1-div2-sp1 {
    font-size: 30px;
    font-weight: 600;
    flex-grow: 1;
    color: #101828;
}

.home-project-name {
    font-size: 15px;
    font-weight: 600;
    color: #101828;
    margin-right: 10px;
}

.home-project-version {
    font-size: 15px;
    font-weight: 600;
    color: darkgray;
    margin-right: 10px;
}

.m1-div2-sp2 {
    width: 8px;
    height: 8px;
    background-color: #17B26A;
    display: inline-block;
    border-radius: 9999px;
}

.m1-div2-sp3 {
    font-size: 14px;
    font-weight: 600;
}

.m1-div2-1-1 {
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
}

.m1-div2-1 button {
    padding: 10px 14px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #7F56D9;
    margin-left: 4px;
}

.m1-icon1 {
    width: 20px;
    height: 20px;
    vertical-align: -4px;
    margin-right: 6px;
}

.m1-div2-2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.m1-div2-2 button {
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.m1-div2-3 {
    display: flex;
    justify-content: space-between;
}

.m1-div2-3-1 {
    width: 320px;
    padding: 24px;
    border: 1px solid;
    border-radius: 8px;
}

.m1-div2-3-1:not(:first-child) {
    margin-left: 20px;
}

.m1-div2-3-1-1 {
    display: flex;
    margin-bottom: 16px;
}

.m1-div2-3-1-1 span {
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
}

.m1-div2-3-1-1 img {
    width: 5px;
    height: 20px;
}

.m1-div2-3-1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m1-div2-3-1-2 span:first-child {
    font-size: 30px;
    font-weight: 600;
}

.m1-div2-3-1-2 img:nth-child(2) {
    width: 10px;
    height: 10px;
}

.m1-div2-3-1-2 span:last-child {
    font-size: 14px;
    font-weight: 500;
}

.m1-div2-3-1-2 img:nth-child(4) {
    width: 128px;
    height: 64px;
    margin-left: -26px;
}

.m1-div3 {
    display: flex;
    flex-direction: column;
}

.m1-div3-1 {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
}

.m1-div3-2 {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.m1-div3-2:not(:first-child) {
    margin-left: 10px;
}

.m1-div3-2 img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.m1-div3-2-1 {
    padding: 16px 20px;
    display: flex;
}

.m1-div3-2-1-1 span:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #101828;
}

.m1-div3-2-1-1 span:last-child {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    display: inline-block;
    color: #475467;
}

.m1-div3-2-2 {
    padding: 0 20px;
    display: flex;
    justify-content: end;
}

.m1-div3-2-2 span {
    font-size: 14px;
    font-weight: 600;
    margin-right: 8px;
    padding: 10px 14px;
    color: #475467;
}

.m1-div3-2-2 button {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    color: #344054;
}

.div-flex-wrap {
    display: flex;
    justify-content: space-between;
}

.m1-div4-1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 25px;
    color: #101828;
}

.m1-div4-2 {
    width: 320px;
    padding: 16px 20px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    display: flex;
}

.m1-div4-2 > img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.m1-div4-2:not(:first-child) {
    margin-left: 10px;
}

.m1-div4-2-1 > span {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: #475467;
    display: inline-block;
}

.m1-div4-2-1-1 {
    display: flex;
}

.m1-div4-2-1-1 span {
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
    color: #101828;
}

.m1-div4-2-1-1 img {
    width: 20px;
    height: 10px;

}

/* page1 sidesection************************************************************************************
******************************************************************************************** */

.sidesection {
    width: 232px;
    min-width: 232px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.sidesection span {
    color: #667085;
}

.sidesection > p:first-child {
    font-size: 30px;
    font-weight: 600;
    margin: 28px 0 28px 12px;
}

.sidesection svg {
    width: 26px;
    height: 26px;
    color: #667085;
}

.sidesect-div1 svg {
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.sidesect-div1 span {
    font-size: 14px;
    font-weight: 400;
    color: #344054;
}

.sidesect-div1 button {
    padding: 8px 10px;
    border: 1px solid #D0D5DD;
}

.sidesect-div1 button:first-child {
    border-radius: 8px 0 0 8px;
}

.sidesect-div1 button:last-child {
    border-radius: 0 8px 8px 0;
    border-left: 0;
}

.sidesect-div2 {
    padding: 4px 4px;
    background-color: #F9FAFB;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.sidesect-div2 svg {
    width: 32px;
    height: 32px;
}

.sidesect-div2 input {
    font: 400 14px Inter;
    margin-left: 10px;
    padding: unset;
}

.sidesect-div2 fieldset {
    border: unset;
}

.sidesect-div3 p {
    font: 600 14px Inter;
    margin: 25px 0 15px;
    color: #667085;
}

.sidesection .sidesect-ul {
    margin: 0 0 16px 4px;
    overflow-y: auto;
}

.sidesection li {
    padding: unset;
    display: list-item;
}

.sidesect-ul button {
    width: 100%;
    padding: unset !important;
    border: unset !important;
    margin-top: 4px;
    box-shadow: unset
}

.sidesect-ul span {
    font-weight: 400;
    font-size: 16px;
    margin: 4px 0 0 10px;
    flex-grow: 1;
    padding: unset;
}

.sidesect-ul ul {
    margin-left: 34px;
}

.sidesect-ul button svg:last-of-type {
    display: none;
}

.sidesect-ul button:hover svg:last-of-type {
    display: unset !important;
}

/* ****************************************************** */
.main .m2-div1 {
    height: calc(100% - 72px);
    padding: 0 20px;
}

.m2-div1 > div {
    padding: unset;
    align-items: center;
}

.m2-div1 > div:last-child {
    overflow: unset;
}

.m2-div1-1 h5 {
    font: 600 20px Inter;
    color: #101828;
}

.m2-div1-1 p {
    font: 400 16px Inter;
    color: #475467;
}

.m2-div1-1 button:not(:last-child) {
    color: #475467;
}

.m2-div1-1 button:last-child {
    height: 40px;
    border: 1px solid #D6BBFB;
    border-radius: 8px;
    color: #6941C6;
}

.m2-div1-1 button svg {
    width: 20px;
    height: 20px;
}

.m2-div1-1 button:not(:last-child) svg {
    color: #475467;
}

.m2-div1-1 button span {
    font: 600 14px Inter;
}

.m2-div1-1 button:not(:last-child) span {
    color: #475467;
}


/* *************   Billing    *************** */

.main1.billing1, .main1.billing2 {
    background-color: #F7F7F7;
}

.bll1-div1, .bll2-div1 {
    margin: 5px 20px 0;
    background-color: #fff;
}

.bll1-div1 > div {
    padding: 0 10px;
}

.bll1-div1-1 {
    font-size: 16px;
    font-weight: 600;
    color: #6941C6;
    margin-top: 20px;
}

.bll1-div1-2 {
    font-size: 48px;
    font-weight: 600;
    color: #101828;
    margin: 10px 0 20px;
}

.bll1-div1-3 {
    font-size: 20px;
    font-weight: 400;
    color: #475467;
 }

 .bll1-div1 .bll1-div1-4 {
    background-color: #F9FAFB;
    margin: 40px 0 30px;
    padding: 6px;
    display: inline-block;
    border: 1px solid #EAECF0;
    border-radius: 8px;
 }

 .bll1-div1-4 button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    color: #667085;
 }

 .bll1-div1-4 button.active {
    color: #344054;
    background-color: #fff;
    border-radius: 6px;
 }

.bll1-div1-5 {
    display: flex;
}

.bll1-div1-5-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.bll1-div1-5-1:not(:first-child) {
    margin-left: 20px;
}

.bll1-div1-5-1-pln {
    padding: 32px;
    border: 1px solid #EAECF0;
    border-radius: 16px 16px 0 0;
}

.bll1-div1-5-1-pln-d1 {
    height: 27px;
}

.bll1-div1-5-1-pln-d1 span:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #475467;
    flex-grow: 1;
}

.bll1-div1-5-1-pln-d1 span:nth-child(2) {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #F9F5FF;
    color: #6941C6;
    border: 1px solid #E9D7FE;
    border-radius: 999px;
}

.bll1-div1-5-1-pln-d2 {
    margin: 20px 0;
}

.bll1-div1-5-1-pln-d2 span:first-child {
    font-size: 60px;
    font-weight: 600;
    color: #101828;
}

.bll1-div1-5-1-pln-d2 span:last-child {
    font-size: 16px;
    font-weight: 500;
    color: #475467;
    margin-left: 5px;
}

.bll1-div1-5-1-pln-d3 {
    font-size: 16px;
    font-weight: 400;
    color: #475467;

}

.bll1-div1-5-1-pln-btn1 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #7F56D9;
    padding: 12px 18px;
    border-radius: 8px;
    margin-top: 25px;
    text-align: center;
}

.bll1-div1-5-1-featr {
    padding: 32px;
    border: 1px solid #EAECF0;
    border-radius: 0 0 16px 16px;
    border-top: 0;
}

.bll1-div1-5-1-featr-d1 {
    font-size: 16px;
    font-weight: 600;
    color: #101828;
}

.bll1-div1-5-1-featr-d2 {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
    margin: 10px 0 20px;
}

.bll1-div1-5-1-featr-d2 span {
    font-weight: 600;
}

.bll1-div1-5-1-featr-d3 {
    margin-top: 10px;
}

.bll1-div1-5-1-featr-d3 img {
    width: 24px;
    height: 24px;
}

.bll1-div1-5-1-featr-d3 span {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
    margin-left: 15px;
}

.bll1-tbl {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
}

.bll1-tbl hr {
    margin: 0;
    border-width: 1px 0 0 0;
    border-color: #EAECF0;}

.bll1-tbl tr:nth-child(even) {
    background-color: #F9FAFB;
}

.bll1-tbl th {
    font-size: 14px;
    font-weight: 600;
    color: #6941C6;
    padding: 16px 0;
}

.bll1-tbl th:first-child {
    text-align: left;
}

.bll1-tbl td {
    font-size: 14px;
    font-weight: 400;
    color: #475467;
    padding: 16px 0;
}

.bll1-tbl td:first-child button span {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
}

.bll1-tbl td:not(:first-child) {
    text-align: center;
}

.bll1-tbl-img1 {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.bll1-tbl-img2 {
    width: 24px;
    height: 24px;
}

.bll1-div1-5-1-pln-btn2 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #7F56D9;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
}

.bll1-tbl tfoot td {
    padding: 0 8px;
}

.billing2 .bll2-div1 {
    padding: 40px;
    margin: 5px 20px 0;
    background-color: #fff;
}

.bll2-div1-1 {
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin: 10px 0 20px;
}

.bll2-div1-2 {
    font-size: 18px;
    font-weight: 400;
    color: #475467;
}

.bll2-div1-3 {
    display: flex;
    margin: 50px 0;
}

.bll2-div1-3-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.bll2-div1-3-1-1{
    display: flex;
}

.bll2-div1-3-1-1:not(:first-child) {
    margin-top: 20px;
}

.bll2-div1-3-1-1 button {
    padding: 12px;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    margin-right: 15px;
}

.bll2-div1-3-1-1 img {
    width: 24px;
    height: 24px;
}

.bll2-div1-3-1-1-1 p:first-child{
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    margin-top: 12px;
}

.bll2-div1-3-1-1-1 p:last-child{
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}

.bll2-div1-3-2 {



    min-width: 600px;
}

.bll2-div1-3-2-1 {
    padding: 32px;
    display: flex;
    border: 1px solid #D0D5DD;
    border-radius: 24px 24px 0 0;
}

.bll2-div1-3-2-1-1 {
    padding: 8px;
    margin-right: 20px;
    flex-grow: 1;
}

.bll2-div1-3-2-1-1-btns {
    padding: 8px;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
    display: inline-block;
}

.bll2-div1-3-2-1-1 button {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 10px;
    color: #344054;
}

.bll2-div1-3-2-1-1 button.active {
    border: 1px solid #E9D7FE;
    border-radius: 999px;
    background-color: #F9F5FF;
    color: #6941C6;
}

.bll2-div1-3-2-1-1-1 {
    font-size: 24px;
    font-weight: 600;
    color: #101828;
    margin: 10px 0;
}

.bll2-div1-3-2-1-1-2 {
    font-size: 16px;
    font-weight: 400;
    color: #475467;

}

.bll2-div1-3-2-1-2-1 span:first-child{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    vertical-align: 12px;
}

.bll2-div1-3-2-1-2-1 span:last-child{
    font-size: 60px;
    font-weight: 600;
    color: #101828;
}

.bll2-div1-3-2-2{
    padding: 32px;
    border: 1px solid #D0D5DD;
    border-top: 0;
}

.bll2-div1-3-2-2-1 {
    font-size: 16px;
    font-weight: 600;
    color: #101828;
}

.bll2-div1-3-2-2-2 {
    font-size: 16px;
    font-weight: 600;
    color: #475467;
    margin: 10px 0 25px;
}

.bll2-div1-3-2-2-3 {
    display: flex;
}

.bll2-div1-3-2-2-3 div {
    flex-grow: 1;
}

.bll2-div1-3-2-2-3 div div:not(:first-child) {
    margin-top: 10px;
}

.bll2-div1-3-2-2-3 span {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
    margin-left: 10px;
}

.bll2-div1-3-2-3 {
    padding: 32px;
    border: 1px solid #D0D5DD;
    border-top: 0;
    border-radius: 0 0 24px 24px;
}

.bll2-div1-3-2-3 button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
}

.bll2-div1-3-2-3 button:first-child {
        background-color: #7F56D9;
        color: #fff;
}

.bll2-div1-3-2-3 button:last-child {
    border: 1px solid #D0D5DD;
    color: #344054;
    margin-top: 20px;
}

.bll2-div1-4 {
    padding: 64px;
    background-color: #53389E;
    border-radius: 16px;
    display: flex;
}

.bll2-div1-4-1 {
    margin-right: 20px;
    flex-grow: 1;
}

.bll2-div1-4-1-1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.bll2-div1-4-1-2 {
    font-size: 20px;
    font-weight: 400;
    color: #E9D7FE;
    margin-top: 10px;
}

.bll2-div1-4-2 button:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #344054;
    padding: 12px 18px;
    margin-right: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background-color: #fff;
}

.bll2-div1-4-2 button:last-child {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 12px 18px;
    border: 1px solid #7F56D9;
    border-radius: 8px;
    background-color: #7F56D9;
}




.proj1 .spn1 {
    margin-left: 10px;
}

.prj1-div1 {
    padding: 20px 12px 12px;
    background-color: #fff;
    border: 1px solid #EAECF0;
    border-radius: 12px;
}

.prj1-div1 hr {
    margin: 20px 0 10px;
}

.prj1-div1-1-1 {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 999px;
    background-color: #CEC5E0;
}

.prj1-div1-1-2 {
    margin-left: 20px;
    flex-grow: 1;
}

.prj1-div1-1-2-1 {
    margin-bottom: 15px;
    flex-grow: 1;
}

.prj1-div1-1-2-1 h5 {
    flex-grow: 1;
}



.prj1-div1-2 svg {
    width: 20px;
    height: 20px;
    color: #98A2B3;
}

.prj1-div1-2 p {
    padding: 2px 8px;
    border: 1px solid #E9D7FE;
    border-radius: 999px;
    background-color: #F9F5FF;
    margin-right: 10px;
}







/* ************   font     color    width/height   ******************************* */

#root .fnt-400-14-Inter {
    font: 400 14px Inter;
}

#root .fnt-500-12-Inter {
    font: 500 12px Inter;
}



#root .fnt-600-14-Inter {
    font: 600 14px Inter;
}


#root .fnt-600-16-Inter {
    font: 600 16px Inter;
}

#root .fnt-600-18-Inter {
    font: 600 18px Inter;
}


#root .fnt-600-30-Inter {
    font: 600 30px Inter;
}



#root .clr101828 {
    color: #101828;
}

#root .clr344054 {
    color: #344054;
}

#root .clr475467 {
    color: #344054;
}


#root .clr667085 {
    color: #667085;
}

#root .clr98A2B3 {
    color: #98A2B3;
}












#root .wh-20-20 {
    width: 20px;
    height: 20px;
}




/* .sidesection {
    display: none;
}
.sidebar {
    display: none;
} */




/* ***************    mui  add     ***************** */

.MuiTable-root thead tr th:first-child {
    border-radius: 11px 0 0;
}

.MuiTable-root thead tr th:last-child {
    border-radius: 0 11px 0 0;
}




/* *************  cloud --- corection             ???????????????????  ************ */
.ul-buttons li.dropdown li span {
    margin-left: 12px;
}



