.react-flow__node-test1 {
    padding: 10px 10px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    width: 150px;
    border: 1px solid #000;

    &.selected {
        box-shadow: 0 0 0 0.5px #1a192b;
    }
}

.react-flow__node-test1 .details  {
    position: absolute;
    margin-left: 150px;
    width: 220px;
    font-size: 10px;
}
