.cloud-layout.dark {
    background-color: #0C111D;

    .sidebar {
        border-right-color: #667085;

        svg {
            color: #ECECED;
        }
        span {
            color: #CECFD2;
        }
        ul {
            scrollbar-color: #4B4B4B transparent
        }
        a:not(.logo):hover {
            background-color: #1F242F;
        }
    }

    .sidebar-arrow svg {
        background-color: #0C111D;
        border: 1px solid #1F242F;
        color: #4B4B4B;
    }

    .mh-text, .mh-div2 span {
        color: #CECFD2;
    }




















}



















