body {
  margin: 0;

  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  height: 100vh;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  min-width: 1200px;
}