.MuiButton-root {
  .MuiButton-text, .MuiButton-outlined {
    &.MuiButton-colorSecondary {
      display: none;
    }
  }

  &.MuiButton-text {
    padding: 8px 10px;

    &.MuiButton-colorPrimary {
      color: #6941C6;
    }

    &.MuiButton-colorSecondary {
      color: black;
    }
  }

  &.MuiButton-outlined {
    padding: 8px 10px;

    &.MuiButton-colorPrimary {
      color: #6941C6;
    }

    &.MuiButton-colorSecondary {
      color: black;
    }

    &.MuiButton-colorSuccess {
      color: #00A343;
    }

    &.MuiButton-colorWarning {
      color: #FFAA16;
    }

    &.MuiButton-colorDanger {
      color: #FF4D4F;
    }
  }

  &.MuiButton-contained {
    padding: 8px 10px;
    border: 1px solid #D0D5DD;

    &.MuiButton-colorSecondary {
      background-color: white;
      color: #344054;
    }

    &.MuiButton-colorSuccess:hover {
      color: black;
    }
  }

  &:hover:not(.MuiButton-colorPrimary) {
    background-color: rgb(240, 240, 240) !important;
  }

  box-shadow: none !important;
  font: 600 14px Inter !important;
}

.MuiTable-root {
  border-radius: 12px 12px 0 0;
  border: 2px solid #EAECF0;
  border-collapse: separate !important;

  .MuiTableHead-root {
    background-color: #F9FAFB;
    border-radius: 12px 12px 0 0;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    color: #101828;
    border: 2px solid #EAECF0;
    border-bottom: 0;

    .MuiTableRow-head {
      border-radius: 12px 12px 0 0;
    }
  }

  .MuiTableBody-root {
    border-width: 1px 2px 0;
    border-style: solid;
    border-color: #EAECF0;
  }
}



